.search-bar {
  margin: 40px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  color: #33ABF3;
  border: 3px solid #33ABF3;
  padding-left: 20px;
}

.video-viewer .details {
  margin-top: 10px;
  margin-left: 60px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;

}

.video-viewer .details-title {
  font-weight: bold;
  font-size: 20px;
  color: #33ABF3;
  padding-bottom: 10px;

}

.list-group-item{
  cursor: pointer;
 
}

.list-group-item:hover{
  border: 2px solid #33ABF3;
  background-color: rgb(195, 230, 250);
}

.selected {
  border: 2px solid #33ABF3;
  background-color: rgb(195, 230, 250);
}

.item-title {
  padding-left: 15px;
}

.container-listen-button{
  text-align: center;
}

.iframeWrapper {
  display: inline-block;
  position: relative;
}

.iframeWrapper:after{
  content:"";
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.iframeWrapper iframe{
  vertical-align: top;
}


.listen-button{
  margin-top: 20px;
  background-color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 50%;
  border-radius: 100%;
  border: 4px solid #33ABF3;
  color: #33ABF3;
}

.listen-button:hover{
  background-color: #33ABF3;
  color: white;
  cursor: pointer;
}

.listen-button-icon{
  font-size: 50px;
  margin-right: 30px;
}

.listening {
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%
  {
    box-shadow: 0 0 0 0 rgba(51, 171, 243, 0.7), 0 0 0 0 rgba(51, 171, 243, 0);
  }
  40%
  {
    box-shadow: 0 0 0 20px rgba(51, 171, 243, 0), 0 0 0 0 rgba(51, 171, 243, 0);
  }
  80%
  {
    box-shadow: 0 0 0 20px rgba(51, 171, 243, 0), 0 0 0 10px rgba(51, 171, 243, 0);
  }
  100%
  {
    box-shadow: 0 0 0 0 rgba(51, 171, 243, 0), 0 0 0 10px rgba(51, 171, 243, 0);
  }
}